
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://previews.123rf.com/images/alekss/alekss1504/alekss150400058/38397954-dollars-money-background.jpg");
  background-color: #EAF6f6;
  place-items: center;
  display: grid;
}

.container {
  background-color: #FF00FF;
  padding: 20px; 
  height: 750px;
  width: 400px;
  position: relative;
  

}
